.block.carousel {
    position: relative;
    padding: 40px 0;
    z-index: 10;
    .wrapper {
        padding: 0 30px;
    }
    .content {
        margin: auto;
        text-align: center;
        .title {
            margin: 0;
            margin-bottom: 40px;
            @media screen and (max-width: 720px) {
                font-size: 2.75em;
            }
        }
    }
    .carousel {
        margin-bottom: 60px;
        .item {
            display: block;
            position: relative;
            width: 100%;
            max-width: 320px;
            height: 400px;
            margin: 0 20px;
            overflow: hidden;
            @media screen and (max-width: 720px) {
                height: auto;
            }
            &:hover {
                .details {
                    transform: translateY(0);
                }
            }
        }
        .details {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px 10px;
            backdrop-filter: blur(10px);
            transform: translateY(200px);
            background: rgba(255, 255, 255, 0.5);
            transition: 600ms all ease-in-out;
            @media screen and (max-width: 720px) {
                // position: relative;
                transform: translateY(0);
                // color: #fff;
                background: transparent;
            }
        }
        .image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @media screen and (max-width: 720px) {
                height: 380px;
            }
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
        .title {
            display: block;
            font-size: 1.5em;
            padding-bottom: 0;
            margin-bottom: 0;
            &:after {
                content: '';
                position: relative;
                display: block;
                width: 100px;
                height: 1px;
                margin: 20px 0;
                background: #fff;
            }
        }
    }
    .subtitle {
        font-size: 2em;
    }
    .flickity-page-dots .dot {
        background-color: #fff;
    }
    .flickity-button {
        padding: 0;
        color: #fff;
        background: transparent;
        &:before {
            display: none;
        }
    }
    button.next {
        right: -40px;
    }
    button.previous {
        left: -40px;
    }
}