.block.hero {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    svg {
        fill: #fff;
        @media screen and (max-width: 720px) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            opacity: 0.1;
        }
    }
    &.style-1 {
        font-size: 3em;
        line-height: 3.2em;
        text-align: center;
        @media screen and (max-width: 1200px) {
            font-size: 2em;
        }
        @media screen and (max-width: 820px) {
            font-size: 1.5em;
        }
        @media screen and (max-width: 600px) {
            font-size: 1em;
        }
        @media screen and (max-width: 460px) {
            font-size: 0.75em;
        }
    }
    &.style-2 {
        &.content-left {
            .shape {
                right: 0;
            }
            .row {
                justify-content: end;
                @media screen and (max-width: 720px) {
                    justify-content: center;
                }
            }
            .col {
                padding-right: 40px;
            }
        }
        &.content-right {
            .shape {
                left: 0;
            }
            .row {
                justify-content: flex-end;
                @media screen and (max-width: 720px) {
                    justify-content: center;
                }
            }
            .col {
                padding-left: 40px;
                @media screen and (max-width: 720px) {
                    padding: 0;
                }
            }
        }
        .row {
            display: flex;
            align-items: center;
            @media screen and (max-width: 720px) {
                justify-content: center;
                flex-direction: column;
            }
        }
        .col {
            width: 50%;
            @media screen and (max-width: 720px) {
                width: 100%;
            }
            @media screen and (max-width: 640px) {
                padding: 60px 0;
            }
        }
        .title {
            line-height: 1em;
        }
    }
}