* {
  box-sizing: border-box;
}

:root {
  --app-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    // overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
}

html, body, textarea {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: #131313;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

$primary-color: #89FFE7;

.page-title {
  h1 {
    color: $primary-color;
    &:before {
      content: '/';
      display: inline-block;
    }
  }
}