@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');
@import 'globals.scss';
@import 'typography.scss';
@import 'form.scss';
@import 'classes.scss';
@import 'partials/header.scss';
@import 'partials/footer.scss';
@import 'blocks/contact.scss';
@import 'blocks/carousel.scss';
@import 'blocks/hero.scss';

img {
    max-width: 100%;
}

.slide {
    position: relative;
    overflow: hidden;
}

#slide-1 {
    margin-bottom: -70vh;
}
#slide-2 {
    margin-bottom: -130vh;
    @media screen and (max-width: 720px) {
        margin-bottom: 0;
    }
}
#slide-3 {
    margin-bottom: -90vh;
}